In [1]:
num1 = 10

In [2]:
# Python Interactive Shell
num1

10

In [3]:
#Print Statement

In [4]:
#Print the value of a variable

print(num1)

10

In [5]:
#Printing the String 

print("Welcome to PYthon Programming")

Welcome to PYthon Programming

In [6]:
#Use Single Quote for String

print('Welcome Back')

Welcome Back

In [8]:
#Dad's Den
# usage of \ character ---- escape character

print('Dad\'s Den')

Dad's Den

In [9]:
print("Dad's Den")

Dad's Den

In [10]:
#Triple Quotes in print statement ----- Multiline printing

print("""
Welcome to Python
==================================
By Prashant Nair
===================================

a. Datatypes
b. Print Statement
""")

Welcome to Python
==================================
By Prashant Nair
===================================

a. Datatypes
b. Print Statement

In [12]:
print("""
==================================
       Welcome to Python
==================================
        By Prashant Nair
==================================

a. Datatypes
b. Print Statement

==================================
""")

==================================
       Welcome to Python
==================================
        By Prashant Nair
==================================

a. Datatypes
b. Print Statement

==================================

In [13]:
# Given num1 variable contains 10

num1 = 10

print("Given num1 variable contains ",num1)

Given num1 variable contains  10

In [14]:
print("Given num1 variable contains {}".format(num1))

Given num1 variable contains 10

In [15]:
num1 = 10
num2 = 20
num3 = 30

print("Given num1 variable has value {} , num2 variable has value {} , num3 variable has value {}".format(num1,num2,num3))

Given num1 variable has value 10 , num2 variable has value 20 , num3 variable has value 30

In [16]:
# F-strings
# Example

num1 = 10
num2 = 20
num3 = 30

print(f"Given num1 variable has value {num1} , num2 variable has value {num2} , num3 variable has value {num3}")

Given num1 variable has value 10 , num2 variable has value 20 , num3 variable has value 30

In [18]:
#Special characters for each datatype
# %d --- integer
# %s --- string
# %e --- exponential
# %f --- float

num1 = 10
num2 = 20.5
num3 = "Prashant"

print("Given num1 variable has value %d , num2 variable has value %f , num3 variable has value %s" %(num1,num2,num3))

Given num1 variable has value 10 , num2 variable has value 20.500000 , num3 variable has value Prashant