In [ ]:
#Lists
#Question 1: Create a list named fruits containing "apple", "banana", and "cherry". Print the list.

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
#Question 2: Add "orange" to the fruits list and print the updated list.

In [4]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Question 3: Reverse the fruits list and print the result.

In [8]:
fruits.reverse()

In [10]:
print(fruits)

['orange', 'cherry', 'banana', 'apple']

In [ ]:
#Question 4: Sort the following list numbers = [3, 1, 4, 1, 5, 9, 2, 6] in ascending order and print the result.

In [11]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers_sorted = sorted(numbers)

print(numbers_sorted)

[1, 1, 2, 3, 4, 5, 6, 9]

In [ ]:
#Question 5: Remove the last element from the fruits list and print the modified list.

In [12]:
fruits

['orange', 'cherry', 'banana', 'apple']

In [13]:
fruits.pop()

print(fruits)

['orange', 'cherry', 'banana']

In [ ]:
#Tuples
#Question 6: Create a tuple coordinates with elements (4, 5, 6) and print it.

In [14]:
coordinates = (4, 5, 6)
print (coordinates)

(4, 5, 6)

In [ ]:
#Question 7: Given the tuple tup = (1, 2, 3, 4, 5), slice it to only include the first three elements and print the result.

In [15]:
tup = (1, 2, 3, 4, 5)
tup[0:3]

(1, 2, 3)

In [ ]:
#Question 8: Try to change the first element of the coordinates tuple to 10. What happens?

In [17]:
coordinates[0]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Question 9: Count how many times 1 appears in the tuple tup = (1, 2, 3, 1, 1, 4, 1) and print the result.

In [18]:
tup = (1, 2, 3, 1, 1, 4, 1)
tup.count(1)

4

In [ ]:
#Question 10: Convert the tuple tup = (1, 2, 3) into a list, add the element 4 to the list, then convert it back to a tuple and print it.

In [19]:
tup = (1, 2, 3)

number_list = list(tup)

number_list.append(4)

tup = tuple(number_list)

print(tup)

(1, 2, 3, 4)

In [ ]:
#Sets
#Question 11: Create a set s1 with elements 1, 2, 3, and another set s2 with elements 3, 4, 5. Print the union of these two sets.

In [20]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
#Question 12: Find the intersection of s1 and s2 and print the result.

In [21]:
print(s1.intersection(s2))

{3}

In [ ]:
#Question 13: Add element 6 to s1 and print the updated set.

In [22]:
s1 = {1,2,3}
s1.add(6)
print(s1)

{1, 2, 3, 6}

In [ ]:
#Question 14: Try to add duplicate element 3 to s1. What happens? Print s1 to verify.

In [ ]:
#Set holds only unique elements thus 1,2,3,6

In [ ]:
#Question 15: Remove element 2 from s1 and print the updated set. Handle the case where the element might not exist.

In [23]:
s1.discard(2)
print(s1)

{1, 3, 6}

In [ ]:
#Dictionaries
#Question 16: Create a dictionary person with keys "name", "age", and "city" and corresponding values "Alice", 30, and "New York". Print the dictionary.

In [24]:
person = {"name": "Alice",
          "age": 30,
          "City": "New York",}
print(person)

{'name': 'Alice', 'age': 30, 'City': 'New York'}

In [ ]:
#Question 17: Add a new key-value pair "gender" with value "female" to the person dictionary and print the updated dictionary.

In [25]:
person["gender"] = "female"

print(person)

{'name': 'Alice', 'age': 30, 'City': 'New York', 'gender': 'female'}

In [ ]:
#Question 18: Update the "age" of the person to 31 and print the updated dictionary.

In [26]:
person["age"] = 31
print(person)

{'name': 'Alice', 'age': 31, 'City': 'New York', 'gender': 'female'}

In [ ]:
#Question 19: Remove the "city" key from the person dictionary using the pop method and print the updated dictionary.

In [29]:
person.pop("City")
print(person)

{'name': 'Alice', 'age': 31, 'gender': 'female'}

In [2]:
#Question 20: Extract "Mumbai" from below collection

list1 = {"data":[1,2,"prashant","python",[10,20,30,40,50],{"Maharashtra":["Mumbai","Chennai","Delhi","Kolkata"]}]}

In [32]:
list1["data"][5]['Maharashtra'][0]

'Mumbai'