In [ ]:
#Lists
#Question 1: Create a list named fruits containing "apple", "banana", and "cherry". Print the list.

In [ ]:
#Question 2: Add "orange" to the fruits list and print the updated list.

In [ ]:
#Question 3: Reverse the fruits list and print the result.

In [ ]:
#Question 4: Sort the following list numbers = [3, 1, 4, 1, 5, 9, 2, 6] in ascending order and print the result.

In [ ]:
#Question 5: Remove the last element from the fruits list and print the modified list.

In [ ]:
#Tuples
#Question 6: Create a tuple coordinates with elements (4, 5, 6) and print it.

In [ ]:
#Question 7: Given the tuple tup = (1, 2, 3, 4, 5), slice it to only include the first three elements and print the result.

In [ ]:
#Question 8: Try to change the first element of the coordinates tuple to 10. What happens?

In [ ]:
#Question 9: Count how many times 1 appears in the tuple tup = (1, 2, 3, 1, 1, 4, 1) and print the result.

In [ ]:
#Question 10: Convert the tuple tup = (1, 2, 3) into a list, add the element 4 to the list, then convert it back to a tuple and print it.

In [ ]:
#Sets
#Question 11: Create a set s1 with elements 1, 2, 3, and another set s2 with elements 3, 4, 5. Print the union of these two sets.

In [ ]:
#Question 12: Find the intersection of s1 and s2 and print the result.

In [ ]:
#Question 13: Add element 6 to s1 and print the updated set.

In [ ]:
#Question 14: Try to add duplicate element 3 to s1. What happens? Print s1 to verify.

In [ ]:
#Question 15: Remove element 2 from s1 and print the updated set. Handle the case where the element might not exist.

In [ ]:
#Dictionaries
#Question 16: Create a dictionary person with keys "name", "age", and "city" and corresponding values "Alice", 30, and "New York". Print the dictionary.

In [ ]:
#Question 17: Add a new key-value pair "gender" with value "female" to the person dictionary and print the updated dictionary.

In [ ]:
#Question 18: Update the "age" of the person to 31 and print the updated dictionary.

In [ ]:
#Question 19: Remove the "city" key from the person dictionary using the pop method and print the updated dictionary.

In [ ]:
#Question 20: Extract "Mumbai" from below collection

list1 = {"data":[1,2,"prashant","python",[10,20,30,40,50],{"Maharashtra":["Mumbai","Chennai","Delhi","Kolkata"]}]}